<nz-breadcrumb>
    <nz-breadcrumb-item>
        <i nz-icon nzType="home"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a>
            <span>Home</span>
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
</nz-breadcrumb>
<br>
<div style="display: flex;width:150px">
    <button *ngIf="!isSuperAdmin" nz-button [nzType]="'primary'" routerLink="/add-purchase" class="gutter-row"><span>
            <i nz-icon nzType="plus" nzTheme="outline"></i>Add</span></button>&nbsp;
    <button nz-button [nzType]="'primary'" (click)="refresh()" class="gutter-row"><span>
            <i nz-icon nzType="redo" nzTheme="outline"></i>&nbsp;Refresh</span></button>&nbsp;
    <button nz-button [nzType]="'primary'" (click)="showSearch()" class="gutter-row"><span>
            <i nz-icon nzType="search" nzTheme="outline"></i></span></button>&nbsp;
</div>
<div style="display: flex;
position: relative;
left: -16px;">
    <nz-input-group [nzSuffix]="suffixIconClear" style="bottom: 8px;width: 68%;left: 18px;">
        <input nz-input placeholder="Search purchase(Username or vendor or company)" [(ngModel)]="searchValue"
            (keyup)="searchPurchase()" autocomplete="off"/>
    </nz-input-group>
    <ng-template #suffixIconClear>
        <i nz-icon nzType="close-circle" nzTheme="fill" (click)="clear()"></i>
    </ng-template>
</div>
<nz-table #basicTable [nzData]="purchaseList" [nzPageSize]="5" nzHideOnSinglePage="true" *ngIf="!isMobile">
    <thead>
        <tr>
            <!-- <th>#</th> -->
            <th>Purchase Date</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Company Name</th>
            <th>User Name</th>
            <th>Vendor Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index">
            <!-- <td>{{data.PurchaseMainID}}</td> -->
            <td>{{data.PurchaseDateClone}}</td>
            <td>{{data.ToBillAmt}}</td>
            <td>{{data.Type}}</td>
            <td>{{data.CompanyName}}</td>
            <td>{{data.UserName}}</td>
            <td>{{data.VendorName}}</td>
            <td>
                <button nz-button [nzType]="'primary'" (click)="openView(data.PurchaseMainID)">View</button> |
                <button nz-button [nzType]="'primary'" (click)="openMore(data.PurchaseMainID)">Upload</button> |
                <button nz-button [nzType]="'primary'" (click)="downloadFile(data.PurchaseMainID)">Download</button> |
                <button nz-button [nzType]="'primary'" (click)="openShowMore(data.PurchaseMainID)">Details</button> |
                <button nz-button [nzType]="'danger'">Delete</button>
            </td>
        </tr>
    </tbody>
</nz-table>
<div *ngIf="isMobile">
    <nz-empty *ngIf="purchaseList.length === 0"></nz-empty>
    <div
        *ngFor="let data of purchaseList | paginate: { itemsPerPage: 3, currentPage: p ,totalItems: total};let i = index">
        <nz-card [nzPageSize]="5" style="width:100%;" [nzTitle]="data.PurchaseDateClone"
            [nzActions]="[image, upload, download,delete,view]">
            <p><b>Amount : </b> Rs.{{data.ToBillAmt}}</p>
            <p><b>Vendor : </b> {{data.VendorName}}</p>
            <p><b>Purchase By : </b> {{data.UserName}}</p>
        </nz-card>
        <br>
        <ng-template #image>
            <i nz-icon nz-tooltip nzTooltipTitle="View" nzType="file-image" nzTheme="outline"
                (click)="openView(data.PurchaseMainID)"></i>
        </ng-template>
        <ng-template #upload>
            <i nz-icon nz-tooltip nzTooltipTitle="Upload" nzType="vertical-align-top" nzTheme="outline"
                (click)="openMore(data.PurchaseMainID)"></i>
        </ng-template>
        <ng-template #download>
            <i nz-icon nz-tooltip nzTooltipTitle="Download" nzType="vertical-align-bottom" nzTheme="outline"></i>
        </ng-template>
        <ng-template #view>
            <i nz-icon nzType="info" nzTheme="outline" (click)="openShowMore(data.PurchaseMainID)"></i>
        </ng-template>
        <ng-template #delete>
            <i nz-icon nz-tooltip nzTooltipTitle="Delete" nzType="delete" nzTheme="outline"></i>
        </ng-template>
    </div>
    <br>
    <div>
        <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
    </div>

</div>
Total Record : <p>{{purchaseList.length}}</p>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Upload More Files(Image)" (nzOnCancel)="openMore('')"
    (nzOnOk)="uploadFile()">
    <ng-container *nzModalContent>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="toBillAmt" nzRequired>Files</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Upload Files!">
                <input nz-input type="file" (change)="fileChange($event)" #fileInput multiple="true" />
            </nz-form-control>
        </nz-form-item>
    </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isMoreVisible" nzTitle="Purchase Details" (nzOnCancel)="openShowMore('')"
    (nzOnOk)="openShowMore('')">
    <ng-container *nzModalContent>
        <p>Purchase Date : {{popupDetails.PurchaseDateClone}}</p>
        <p>Amount : {{popupDetails.ToBillAmt}}</p>
        <p>Type : {{popupDetails.Type}}</p>
        <p>Company : {{popupDetails.CompanyName}}</p>
        <p>User : {{popupDetails.UserName}}</p>
        <p>Vendor : {{popupDetails.VendorName}}</p>
    </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isAdvSearch" nzTitle="Advance Search" (nzOnCancel)="showSearch()" (nzOnOk)="advanceSearch()">
    <ng-container>
        <!-- <nz-form-item>
            <nz-select style="width: 100%;" nzPlaceHolder="Search by company" [(ngModel)]="model.selectedCompany"
                *ngIf="isSuperAdmin">
                <span *ngFor="let data of companyList;let i=index;">
                    <nz-option [nzValue]="data.CompanyName" [nzLabel]="data.CompanyName"></nz-option>
                </span>
            </nz-select>
        </nz-form-item>
        <nz-form-item>
            <nz-select style="width: 100%;" nzPlaceHolder="Search by vendor" [(ngModel)]="model.selectedVendor">
                <span *ngFor="let data of vendorList;let i=index;">
                    <nz-option [nzValue]="data.VendorName" [nzLabel]="data.VendorName"></nz-option>
                </span>
            </nz-select>
        </nz-form-item>
        <nz-form-item>
            <nz-select style="width: 100%;" nzPlaceHolder="Search by user" [(ngModel)]="model.selectedUser"
                *ngIf="isSuperAdmin">
                <span *ngFor="let data of userList;let i=index;">
                    <nz-option [nzValue]="data.UserName" [nzLabel]="data.UserName"></nz-option>
                </span>
            </nz-select>
        </nz-form-item> -->
        <nz-form-item>
            <nz-date-picker style="width: 100%;" [(ngModel)]="model.selectedFromDate" nzInputReadOnly="true"
                nzPlaceHolder="Purchase Date From"></nz-date-picker>
        </nz-form-item>
        <nz-form-item>
            <nz-date-picker style="width: 100%;" [(ngModel)]="model.selectedToDate" nzInputReadOnly="true"
                nzPlaceHolder="Purchase Date To"></nz-date-picker>
        </nz-form-item>
    </ng-container>

</nz-modal>